botConfig.token={{ bot_token }}
botConfig.name={{ bot_name }}
botConfig.apiKey={{ weather_api_key }}
logback.config.file=/opt/weather-bot/app/logback.xml

db.url=jdbc:postgresql://127.0.0.1:5432/postgres?sslmode=disable
db.username=postgres
db.password={{ db_password }}